###> variable for docker ###
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=boilerplate_db
DB_HOST=mysql
DB_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root
WAIT_FOR_MYSQL=1
PROJECT_NAME=boilerplate
DOMAIN=localhost
###< variable for docker ###
